.category-title{
    height: 15vh;
    padding-left: 6%;
    line-height: 15vh;
    font-size: 3rem;
    font-weight: 200;
}

/* .listing-container{
    width: 90vw;
    height: clamp(50vh, 50vh, 100%);
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.listing{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid black;
    width: 40vh;
    height: 50vh;
    margin: 20px;
}

.listing-image{
    width: 40vh;
    height: 40vh;
    outline: 2px solid black;
}

.listing-title{
    width: 40vh;
    height: 5vh;
    outline: 1px solid black;
}

.listing-price{
    width: 40vh;
    height: 5vh;
    outline: 1px solid black;
} */