:root{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}


body{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 90vw;
    max-width: 90vw;
    height: 10vh;
    padding: 0px;
}

.header-container{
    align-self: center;
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    height: 10vh;
    line-height: 10vh;
}

.category-list-cell{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    transition-duration: 0.15s;
}

.category-list-cell:hover{
    border-bottom: 2px solid green;
}

.shop-logo{
    width: 25px;
}

.side-menu{
    justify-content: flex-end;
}


.side-menu-btn{
    line-height: 10vh;
    width: 7.5vh;
    margin-right: 10px;
    text-align: center;
    transition-duration: 0.15s;
    text-decoration: none;
    color: black;
    position: relative;
}

.side-menu-btn:hover{
    /* border-bottom: 2px solid green; */
}

.link{
    text-decoration: none;
    color: black;
}

.currency-menu{
    margin-top: 0px;
    width: 10vh;
    height: 10vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.curr-list-item{
    list-style: none;
    height: 5vh;
    width: 10vh;
    outline: 1px solid black;
    text-align: center;
    line-height: 5vh;
}

.curr-list-item:hover{
    background-color: black;
    color: wheat;
}

.cart-btn{
    position: relative;
}

.cart-menu{
    position: absolute;
    background-color: #fafafa;
    outline: 1px solid black;
    right: 1%;
    width: 35vh;
    height: 45vh;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}