.product-container{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    outline: 1px solid black;
}

.right-side{
    display: flex;
    flex-direction: column;
}

.gallery-container{
    width: 55vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    outline: 1px solid black;

}

.gallery-slider{
    width: 10vw;
    height: 75vh;
    display: flex;
    margin-top: 2.5vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    outline: 1px solid black;
    overflow: scroll;
}

.gallery-slide{
    width: 8vw;
    height: 8vw;
    margin-top: 1vw;
    outline: 1px solid black;
}

.gallery-display{
    width: 40vw;
    height: 60vh;
    margin-top: 2.5vh;
    outline: 1px solid black;
}

.info-container{
    width: 40vw;
    height: 50vh;
    flex-direction: column;
    outline: 1px solid black;

}

.title-container{
    width: 30vw;
    height: 12vh;
    outline: 1px solid black;
    margin-top: 2.5vh;
}
.size-container{
    width: 30vw;
    height: 15vh;
    outline: 1px solid black;
}

.size-buttons{
    width: 30vw;
    height: 8vh;
    outline: 1px solid black;
}
.size-button{
    width: 7vw;
    height: 5vw;
    outline: 1px solid black;

}
.color-container{
    width: 30vw;
    height: 12vh;
    outline: 1px solid black;
}

.color-buttons{
    width: 30vw;
    height: 7vh;
    outline: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.color-button{
    width: 5vw;
    height: 5vw;
    outline: 1px solid black;
}
.price-container{
    width: 30vw;
    height: 15vh;
    outline: 1px solid black;
}
.add-to-cart{
    width: 30vw;
    height: 7vh;
    outline: 1px solid black;
}
.description-container{
    width: 30vw;
    height: 15vh;
    outline: 1px solid black;
}